{% extends "layout.html" %}

{% block body %}

    
    <div class="container" id="text-box">

        <h1 id="about-project">About Project</h1>
<ol>
<li><a href="#why" class="text-white">Why?</a></li>
<li><a href="#german-pfand-system---bottles-deposit-refund-system" class="text-white">German PFAND system - (bottles deposit-refund system)</a></li>
<li><a href="#using-ai-in-bottle-classification" class="text-white">Using AI in bottle classification</a></li>
<li><a href="#whats-next-1" class="text-white">What&#39;s next?</a></li>
</ol>
<div class="justify">
<h2 id="why">Why?</h2>
<p>In September 2021 I came to Germany for 1 year long Erasmus exchange. It was a great time full of new experiences, friendships and litres of german beer. One of the things we particularly fell in love with was the PFAND system. It was super funny and oddly satisfying to sell our empty bottles.</p>
<p>While looking for project ideas, I really wanted to create something from the beginning to the end. Gather the data myself and lead the project until the last step - a functional app that everybody can use.</p>
<p>Making a deposit value classifier seemed perfect. The access to data was easy (I live on the university campus, you can imagine how many bottles are emptied here every weekend) and it is a classic multi-class classification problem so the expected success chance was pretty high. But what is most important, the idea seemed so funny and cool that I was talking about it all the time. And if you tell literally everybody about your open project, you just have to finish it.</p>
<p>I&#39;m aware the tool is not really the most useful. You do not really need to know the value of your bottle and also most of us can learn to recognize it in probably a few minutes, but the goal of the project was to learn and present my skills. So here we are, enjoy the Pfand Classifier!</p>


<h2 id="german-pfand-system---bottles-deposit-refund-system">German PFAND system - (bottles deposit-refund system)</h2>

<img src="{{ url_for('static', path='images/pfand.png') }}" alt="Pfand logo" width="30%">
<p id="caption">Pfand logo</p>

<p><em>Pfand - <strong>pledge</strong>[noun] something given by a person who is borrowing money etc. to the person he has borrowed it from, to be kept until the money etc is returned</em>~ Cambridge Dictionary</p>
<p>So in Germany, there is a deposit-refund system for most drink containers. Every time you buy a beer/soft drink/water etc. you have to pay an additional deposit (Pfand) for the bottle/can. You can then return all your collected Pfand items using special machines present in most shops, receiving a coupon with which you can get back your money. </p>
<p>The Pfand system is part of the bigger german recycling system and it is really environmentally friendly. Coming from a country with not the best reputation when it comes to ecology I was pretty impressed with the lack of litter on german streets. People prefer to take their used containers with them or just leave them in a visible place so that people in need e.g. homeless can gather them and get some money they need for their basic needs. </p>
<h3 id="pfand-value-categories">Pfand value categories:</h3>

<!-- Table ---------------------------------------------- -->
<style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
      overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
      font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
    </style>
    <div>
        <table class="tg">
        <thead>
        <tr>
            <th class="tg-0pky">value</th>
            <th class="tg-0pky">types</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="tg-0pky">8 cents</td>
            <td class="tg-0pky">- regular beer bottles</td>
        </tr>
        <tr>
            <td class="tg-0pky" rowspan="2">15 cents</td>
            <td class="tg-0pky" rowspan="2">- swing top tap beer bottles    <br>- threaded neck bottles</td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td class="tg-0pky" rowspan="2">25 cents</td>
            <td class="tg-0pky" rowspan="2">- alluminium cans<br>- plastic bottles</td>
        </tr>
        <tr>
        </tr>
        </tbody>
        </table>
    </div>

<!--    --------------------------------------------------                  -->
<h2 id="using-ai-in-bottle-classification">Using AI in bottle classification</h2>
<p><em>For those of you who are not really familiar with Neural Networks and want to know more, there are many great materials available online, created by people way more competent than me, so I am not really going into details about those. Here are some videos I can honestly recommend:</em></p>
<ul>
<li><a href="https://www.youtube.com/watch?v=ER2It2mIagI" class="text-white">Codebasics - What is a Neural Network</a></li>
<li><a href="https://www.youtube.com/watch?v=aircAruvnKk" class="text-white">3blue1Brown series on Neural Networks</a></li>
</ul>
<h3 id="model-type">Model type</h3>
<p>As mentioned before, this is a classic multi-class classification problem with the image as input, therefore the decision of using a Convolutional Neural Network was quite obvious. The model takes as input a preprocessed picture (the sides of the picture are cut off and the resolution is lowered) and returns a vector of probabilities of the item belonging to each of the value categories (4 categories - 3 mentioned in the table in <a href="#german-pfand-system---bottles-deposit-refund-system" class="text-white"> PFAND system</a> chapter and additional 0 cents category for empty box slots). Model hyperparameters were optimised with the use of Randomised Search and it reached a final accuracy of more than 96%. You can see the full process of model development and read more on the project <a href="https://github.com/marcinstopyra/pfand_clf" class="text-white">Github repository</a> </p>
<h3 id="data-details---why-photo-from-the-top">Data details - Why photo from the top?</h3>
<p>The initial idea was simple, just take picture of the bottle. But this approach leads to many problems in training a network and would require much much bigger training dataset. The data I gathered with my friends was not as big and it was a bit biased, it consisted mostly of the beers produced in the local area (Stuttgart region - Stuttgarter Hofbräu, Schwaben Bräu beers etc.), cheap brands (Oettinger, Hasseröder etc.) caffeine drinks popular among students (Club Mate, Red Bull etc.) Therefore, there is a high possibility that the features learned by the model will be also biased. For example, the model can learn label designs or logos. </p>
<p>We can clearly see this problem when we look at different products of Stuttgarter Hofbräu. In the pictures, we have 3 Pfand beer containers, each of them having a different value. In the training dataset, there is a much higher number of the samples presenting a regular pilsner bottle (value - 8 cents) than the other two, which are less popular on Campus due to their higher price and lower availability in nearby shops. We can then expect the model to learn to associate the Stuttgarter Hofbräu logo with the 8 cents value category, which would lead to mistakes every time it sees the same logo on the bottle with a swing top or on a can.</p>

<img src="{{ url_for('static', path='images/stuttgarter.png') }}" alt="Different Stuttgarter beers" width="100%">
<p id="caption">Different Stuttgarter Hofbräu beer containers with Pfand values</p>

<p>This problem can be easily tackled by classifying the bottles based on the pictures taken from a bird&#39;s perspective. As we can see the main feature of differing value categories can be seen on the neck of the bottle (type of closure) and the cans obviously are easily recognised from the top too. From this perspective, the labels are not visible, which prevents the model from learning some misleading features. This view is also perfect when it comes to taking pictures of the bottles inside the box, but more about this in section <a href="#whats-next-1" class="text-white">What&#39;s next?</a></p>

<img src="{{ url_for('static', path='images/sample_raw.jpg') }}" alt="picture before preprocessing" width="60%">
<p id="caption">Training sample before preprocessing</p>
<br>
<br>
<img src="{{ url_for('static', path='images/sample_ready.png') }}" alt="picture after preprocessing" width="60%">
<p id="caption">Training sample after preprocessing</p>


<p>Due to the really high number of different plastic bottles types and the fact most of them don&#39;t fit in the beer box slots (see <a href="#whats-next-1" class="text-white">What&#39;s next?</a> chapter), they were not included in the training dataset, therefore the classifier is not able to recognize them.</p>
<h2 id="whats-next">What&#39;s next?</h2>
<p>I have an idea of extending this project by adding an object detection model, which goal would be to recognize the location of a beer box in the picture taken from a bird&#39;s perspective. Having coordinates of the corners of the books the 5x4 grid would be put on the box slicing it into slots, each containing a single Pfand item (or staying empty). Then the already developed classifier would classify each of the items and the total deposit value can be summed up and given as an output. </p>
<p>I see it as a great chance to learn more about object detection and computer vision methods, as well as another interesting and fun project which I am already excited to work on. So stay tuned!</p>
        

</div>
      
    


{% endblock %}
