{% extends "layout.html" %}

{% block body %}

    <main class="px-3">
        <h1>Classifier</h1>
        <p class="lead">Classify your PFAND</p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white"><i class="bi bi-camera-fill"></i> Take photo</a>
        </p> 
        <p class="lead">
            <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white"><i class="bi bi-upload"></i> Upload photo</a>
        </p>
    </main>
    
{% endblock %}
