{% extends "layout.html" %}

{% block body %}

    <main class="px-3">
        <h1>Classifier</h1>
        <p class="lead">Classify your PFAND</p>
        <form action='/result' method="post" enctype='multipart/form-data'>
        <p class="lead">
            <label class="btn btn-lg btn-secondary fw-bold border-white bg-white">
                <input type="file" name='file1' if='take-photo' accept="image/*;capture=camera" style="display:none;" onchange="form.submit()" ">
                <i class="bi bi-camera-fill"></i> Take photo
            </label>
        </p> 
        <p>
            <label class="btn btn-lg btn-secondary fw-bold border-white bg-white">
                <input type="file" name="file2" id="upload-photo" style="display:none;" onchange="form.submit()" >
                <i class="bi bi-upload"></i> Upload photo
            </label>
        </p>
        </form>
    </main>
    
{% endblock %}
